
  h1 {
    font-size: calc(50px);
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    margin-left: 50px;
  }
  
  body {
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    );
  }
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  
  
  
  @keyframes destello {
    0%, 100% {
      box-shadow: 
        0 0 5px #ff0000, 
        0 0 10px #00ffff, 
        0 0 20px #ff0000, 
        0 0 30px #00ffff, 
        0 0 40px #ff0000;
    }
    50% {
      box-shadow: 
        0 0 10px #00ffff, 
        0 0 20px #ff0000, 
        0 0 30px #00ffff, 
        0 0 40px #ff0000, 
        0 0 50px #00ffff;
    }
  }
  
  
  #Inicio{
    font-family: sans-serif;
    text-decoration: none;
    background-color: #fec940;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 20px;
    margin-left: 45%;
    cursor: pointer;
    animation: destello 1s  infinite alternate;
    display: flex;
    justify-content: center;
    width: 150px;

  }
  

  #texto{
    color: #e6d4d4;
    text-align: center;
    
  }
  
  #h2{
    font-size: 40px;
  }
 
  #letra{
    font-size: 25px;
  }

  #footer3{
    color: aliceblue;
    background-color: #302d2d;
    text-align: center;
    display: flex;
    width: 100%;
    font-size: 18px;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-top: 370px;
  }
@media (max-width: 768px) {
    body {
        height: auto;  /* Adjust height for mobile */
    }
    h1 {
        font-size: 30px;  /* Responsive font size */
    }
    /* Add more responsive styles as needed */
}
